<p>coursenav</p>
"Info2-/classes/ws2021/info2/,Schedule-/classes/ws2021/info2/schedule/,Material-/classes/ws2021/info2/material/,Labs-/classes/ws2021/info2/labs/"
courseNav: Material
weight: 2
for all pages with subpages:
git mv classes/ws2021/info2/labs/index.md classes/ws2021/info2/labs/_index.md
{{ $course_page := . }}

{{ if (or (eq "class" (.Scratch.Get "type")) (eq "class_subpage" (.Scratch.Get "type"))) }}

<ul class="nav nav-tabs">
  <li class="nav-item">
    {{ $menu_title := $course_page.Params.CourseNav | default ($course_page.Title) }}
    <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ $course_page.Permalink }}">{{ $menu_title }}</a>
  </li>
{{ range where $course_page.Pages "Params.CourseNav" "!=" nil}}
  {{ $menu_title := .Params.CourseNav | default (.Title) }}
  <li class="nav-item">
    <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ .Permalink }}">{{ $menu_title }}</a>
  </li>
{{ end }}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">External Links</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" target = "ex_link" href="https://moodle.htw-berlin.de/course/view.php?id=33324">Moodle</a>
      <a class="dropdown-item" target = "ex_link" href="https://lsf.htw-berlin.de/qisserver/rds?state=verpublish&status=init&vmfile=no&publishid=179751&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung">SU in LSF</a>
      <a class="dropdown-item" target = "ex_link" href="https://lsf.htw-berlin.de/qisserver/rds?state=wsearchv&search=2&veranstaltung.veranstid=176899">Labs in LSF</a>
      <a class="dropdown-item" target = "ex_link" href="https://lsf.htw-berlin.de/qisserver/rds?state=wplan&act=stg&pool=stg&show=plan&P.vx=kurz&r_zuordabstgv.semvonint=2&r_zuordabstgv.sembisint=2&k_abstgv.abstgvnr=231">Semesterstundenplan im LSF</a>
      <a class="dropdown-item" target = "ex_link" href="https://github.com/htw-imi-info2">Github</a>
    </div>
  </li>
</ul>
{{ end }}
