<p>coursenav</p>

{{ $course_page := . }}

.LinkTitle
<hr/>
{{ $course_page.File.Path }}<br>
{{ $course_page.File.File }}<br>
{{ $course_page.File.Dir }}<br>

<hr/>
{{ if (or (eq "class" (.Scratch.Get "type")) (eq "class_subpage" (.Scratch.Get "type"))) }}



<ul class="nav nav-tabs">
  <li class="nav-item">
    {{ $menu_title := $course_page.Params.CourseNav | default ($course_page.Title) }}
    <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ $course_page.Permalink }}">{{ $menu_title }}</a>
  </li>
{{ range where $course_page.Pages "Params.CourseNav" "!=" nil}}
  {{ $menu_title := .Params.CourseNav | default (.Title) }}
  <li class="nav-item">
    <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ .Permalink }}">{{ $menu_title }}</a>
  </li>
{{ end }}


{{ $fn := path.Join "content" $course_page.File.Dir  "coursenav.json" }}
{{ if (fileExists $fn) -}}
  {{ $dataJ := getJSON $fn }}
  <br>
  dataJ: {{ $dataJ }}
{{ $dataF := $course_page.Params.courseNavExt }}
  dataF: {{ $dataF}}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">External Links</a>
    <div class="dropdown-menu">
      {{ range $dataF }}
      {{ .title }}
          <a class="dropdown-item" target = "ex_link" href="{{ .link }}">{{ .title }}</a>

        {{ end }}
</div>
</li>

{{ end }}

</ul>
{{ end }}
