coursenav
{{ $course_page := . }}
{{ if (or (eq "class" (.Scratch.Get "type")) (eq "class_subpage" (.Scratch.Get "type"))) }}

<ul class="nav nav-tabs">

{{ range $course_page.Params.courseNavInt }}
  <li class="nav-item">
    <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ .link }}">{{ .title }}</a>
  </li>
{{ else }}
<li class="nav-item">
  {{ $menu_title := $course_page.Params.CourseNav | default ($course_page.Title) }}
  <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ $course_page.Permalink }}">{{ $menu_title }}</a>
</li>
{{ range where $course_page.Pages "Params.CourseNav" "!=" nil}}
  {{ $menu_title := .Params.CourseNav | default (.Title) }}
  <li class="nav-item">
    <a class="nav-link {% if page.url == n[1] %}active{% endif %}" href="{{ .Permalink }}">{{ $menu_title }}</a>
  </li>
{{ end }}

{{ end }}


{{/* course nav external links could also be provided via json file:
  $fn := path.Join "content" $course_page.File.Dir  "coursenav.json"
 if (fileExists $fn)
  {{ $dataJ := getJSON $fn */}}

{{ with $course_page.Params.courseNavExt }}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">External Links</a>
    <div class="dropdown-menu">
      {{ range . }}
          <a class="dropdown-item" target = "ex_link" href="{{ .link }}">{{ .title }}</a>
      {{ end }}
    </div>
</li>
{{ end }}
</ul>
{{ end }}
