{{- partial "filename_debug.html" (dict "pc" . "file" "classes/set_class_variables.html") -}}
{{- /* infers the type of a page by the url and sets it in scratch
  /classes/<semester>/<classname> */ -}}
{{
  $types := (dict
  "all_classes" "/classes/$"  
  "class_subpage" "/classes/[^/]*/[^/]*/.+"
  "semester" "/classes/[^/]*/$"
  "class" "/classes/[^/]*/[^/]*/$")
}}
{{  $current_page := . }}
 {{ range $type, $type_re := $types }}
    {{ $result := findRE $type_re $current_page.RelPermalink }}
    {{ if gt (len $result) 0   }}
      {{  with $current_page.Scratch.Get "type" }}
       WARNING: page already had type {{ . }}  INFO: assigning type {{ $type }}
       {{ end }}
      {{   $current_page.Scratch.Set "type" $type }}
    {{ end }}
{{ end }}
