{{ define "main" }}

<h1> This is the Debug Site</h1>
This page has two parts to test things that need to be in the md page and those that need to be done in the html layout.
<ol><li>Markdown Part (content/debug/_index.md) </li>
<li><a href="#debuglisthtml">Layout Template Part</a> (layouts/debug/list.html) </li></ol>

<hr/><hr/><hr/>
<h2>Markdown Part (content/debug/_index.md) </h2>
<hr/><hr/>

{{ .Content }}

<hr/><hr/><hr/>
<h2>Layout Template Part (layouts/debug/list.html) </h2>
<hr/><hr/>
<h3>baseURL</h3>


<dl>
    <dt>site.BaseURL</dt>
    <dd>{{ site.BaseURL }}</dd>
    <dt>site.BaseURL/contact</dt>
    <dd>{{ site.BaseURL }}/contact</dd>
    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "scss/main.scss" | toCSS  $options | minify }}
    <dt>$style.RelPermalink</dt>
    <dd>{{ $style.RelPermalink }}</dd>
    <dt>$style.Permalink</dt>
    <dd>{{ $style.Permalink }}</dd>
</dl>

<link rel="stylesheet" href="http://localhost:4242/~kleinen/~kleinen/css/styles-dev.css" media="screen">



<h2>layouts/debug/list.html</h2>

<h2>Aliases</h2>
<ul>
<li>Defined in data/aliases
<li>.Site.Data.aliases:<br/>
    {{ .Site.Data.aliases }}

<ul>
{{ range $key, $value := .Site.Data.aliases }}
<li><a href="{{ site.BaseURL }}{{ $key }}">{{ $key }}->{{ $value }}</a></li>
{{ end }}
</ul>


</ul>
<hr/><hr/>

The material on this page is organized into {{ len .Site.Taxonomies }} taxonomies:

<a href="#courses">Courses</a>
, <a href="#tags">Tags</a>
and <a href="#tools">Tools</a> .

<hr/>
Original Version, works locally but not on server:<br/>
{{ $tax_names := partial "taxonomies/names.slice.md" . }}
<br/>$tax_names: {{ $tax_names }}
{{ $tax_links := apply $tax_names "partial" "taxonomies/local_link.html" "." -}}
<br/>tax_links : {{ $tax_links }}
<br/> : {{ $x := delimit $tax_links ", " " and " -}}.
<br/>x : {{ $x }}.
<br/>safe: {{ $x | safeHTML}}
<hr><hr>
The material on this page is organized into 3 taxonomies:
<a href="#courses">Courses</a>
, <a href="#tags">Tags</a>
and <a href="#tools">Tools</a>
<hr><hr>
" The material on this page is organized into 3 taxonomies:
<a href="#courses">Courses</a>
, <a href="#tags">Tags</a>
and <a href="#tools">Tools</a> "
<hr><hr>
"The material on this page is organized into 3 taxonomies:
<a href="#courses">Courses</a>
, <a href="#tags">Tags</a>
and <a href="#tools">Tools</a> ."
<hr><hr>
{{ $s := slice "b" "a" "c" }}
<br/>{{ delimit $s ", " }} → b, a, c
<br/>{{- delimit $s ", " " and "  | safeHTML}}
<br/>bla
<br/> eins: The material on this page is organized into 3 taxonomies: <a href="#courses">Courses</a> , <a href="#tags">Tags</a> and <a href="#tools">Tools</a>
<br/> zwei: "The material on this page is organized into 3 taxonomies: <a href="#courses">Courses</a> , <a href="#tags">Tags</a> and <a href="#tools">Tools</a>"
<br/><hr>
</p>


<p> .Site. {{ .Site.BuildDrafts }}</p>
.Site.BuildDrafts 
{{ .Site.BuildDrafts }} 
{{ end }}
