/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/*
HTW - Farben: http://www.htw-berlin.de/fileadmin/HTW/Zentral/DE/HTW/ZR1_Presse/Corporate_Design/Farben_Hexadezimal.pdf;

light green: e4f1cc;
*/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}
h1{
  font-size: 150%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
 h2, h3, h4, h5, h6 {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: 1em;}

.lab h1{
  background: #5e9400;
  color:white;
}
 .lab h2 {
  background: #76b900;
  color:white;
  font-size: 100%; }

 .lab h3, h4, h5, h6 {

  font-size: 100%; }

p { margin: 1em 0; }

a         { color: #0082D1; }
a:hover   { color: #000; }
a:visited { color: #76B900; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.htw-logo{
  text-align: right;
}
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}
.schedule {
  font-size: 115%;
  text-align: justify;
  width: 84em;
  margin: 5em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #76B900;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #76B900;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #76B900;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #76B900;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #e4f1cc;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #e4f1cc;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* tables */
table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid black;
}
tr:nth-child(odd)   { background-color:#e4f1cc; }
tr:nth-child(even)    { background-color:#fff; }

th
{
background-color:#5e9400;
color:white;
}
td, th
{
padding:7px;
}


