---
---
@import "colors";
@import "general-layout";
@import "responsive-layout";

@import "header";


ul {
  margin-top: 0;
  padding-left: 0;
}
section, footer {
  margin-right: 20px;
}

{% if page.wide_layout %}
  section.schedule {
    width: 100%;
    display: static;
    padding-bottom: 50px;
  }
   @include layout-wide;
 
 {% else %}

@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 150px;
  }
  main {
    margin-left: 150px;
    max-width: 600px;
  }

}

@media screen and (max-width: 1280px) {
   @include layout-wide-2column;
}

@media screen and (max-width: 960px) {
   @include layout-wide;
}

@media screen and (max-width: 720px) {
  @include layout-middle;
}

@media screen and (max-width: 480px) {
  @include layout-narrow;
}
{% endif %}
