

-----

##### in getPage

{{ $path := .Get "path" -}}

- params: path: {{ $path }}
- getPage: {{ .Page.GetPage $path }}




{{ $page := .Page.GetPage $path}}

{{ with .Page.GetPage $path }}
   {{ . }}
{{ else }}

  {{ $dirFile := $path |  path.Clean | path.Split }}
    {{ $cleanPath := $dirFile.File }}
    - cleanPath: {{ $cleanPath}}
    - aliases: {{ .Site.Data.aliases }}
    - index: {{ index .Site.Data.aliases "info1" }}
  {{ $realPath := index .Site.Data.aliases $cleanPath }}
    - realPath:   {{ $realPath }}
    {{ with .Page.GetPage $realPath }}
       {{ . }}
    {{ end }}

{{ end }}
