{{- partial "filename_debug.html" (dict "pc" . "file" "breadcrumbs.html") }}
{{ $seperator :="&#187;" }}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb breadcrumb-thin">

  {{ range .Ancestors.Reverse }}
   
    {{ $name := (replaceRE ".*/([^/]+)/?" "$1" .RelPermalink) }}
    {{if .IsHome }}{{ $name = "Home" }}{{ end }}
     <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ $name }}</a></li>
  {{ end }}


  {{ $name := (replaceRE ".*/([^/]+)/?" "$1" .RelPermalink) }}
  <li class="breadcrumb-item active" aria-current="page">{{  $name }}</li>
 
  </ol>
</nav>
