---
layout: default
title: Kleinen | HTW Berlin
---

<h1>Lectures SS 2014</h1>
<ul>
<li><a href="{{site.baseurl}}ss2014/info2">Informatik 2</a></li>
<li><a href="{{site.baseurl}}ss2014/info3">Informatik 3</a></li>
<li><a href="{{site.baseurl}}ss2014/projekt">Praxisprojekt</a></li>
</ul>
<h1>Office Hours and Baf&ouml;g</h1>
<ul>
  <li>Office Hours: Wednesdays, 15-16 WH-C 645</li>
  <li>Baf&ouml;g: I've started to <a href = "bafoeg/index.html">compile some information/things</a> I've learned.</li>
</ul>
{% comment %}

<h1>Aktuelles</h1>
<!-- This loops through the paginated posts -->

{% for post in paginator.posts %}
  <h3 class ="post-heading"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="date">Created at {{ post.date | date: "%d. %B %Y" }}</p>
  <p class="author">
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}
{% endcomment %}

<h1>Vergangene Lehrveranstaltungen und alte Posts</h1>
<a href="archiv.html">... sind im Archiv</a>
{% comment %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{site.baseurl}}page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endcomment %}

