
@import "htw-colors";
$headings-color: $htw-green100;
$link-color: $htw-green100;
$color-areas: false;
$headings-color: $htw-green100;
$link-color: $htw-green100;
$breadcrumb-bg: #e9ecef;
$small-font-size:  80%;
