$custom-font-size: 20px;
@import "htw-colors";
//@import "./bootstrap/scss/functions";
//@import "./bootstrap/scss/variables";
@import "./styles.scss";
$headings-color: $htw-green100;
$link-color: $htw-green100;
