@media (min-width: 400px) {
  html { background: red; }
}
@media (min-width: 600px) {
  html { background: green; }
}
@media (min-width: 800px) {
  html { color: yellow; }
}

@font-face {
  font-family: "Lato2";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

body{
  font-family: 'Lato2',"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  body {
    margin-left: 2em;
    margin-right: 2em;
  }
ul { margin-top: 0;
  padding-left: 0;}
section, footer {
  margin-right: 20px;
}
header {
  padding: 10px;
  float: right;
  font-size: small;
  font-weight: bold;
  color: #AFAFAF;
}
header a {
  text-decoration: none;
  color: #AFAFAF;
}

@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 150px;
  }
  main {
    margin-left: 150px;
    max-width: 600px;
  }
}
@media min-width:480 {

}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}

@media screen and (min-width:1280px) {

  section {
    margin-left: 0px;
    max-width: 550px;
  }
  section.left {float: left}
  section.right {float: right}
  main {
    margin-left: 150px;
    max-width: 1600px;
    clear: right;
  }
  nav { clear: right;}
  footer {
    clear: both;
  }
}
