
{{ define "meta"}}{{.Scratch.Set "theme" "layouts/material/single.html"}}{{ end }}

{{ define "main" }}

{{ $section := .Section}}

<h1>{{ .Title }}</h1>

<small>
{{ with .Site.GetPage $section }}<a href="{{.Permalink}}">{{ $section | humanize }}</a>{{ end }}
in
{{- $page := .}}
{{ range $taxonomy, $taxonomy_term_pages_map := .Site.Taxonomies }}
&nbsp;
{{ $terms := ($page.GetTerms $taxonomy ) }}
{{ if gt (len $terms) 0 }}

<i>{{ with $.Site.GetPage (printf "/%s" $taxonomy) }}<a href="{{.Permalink}}">{{ $taxonomy | humanize }}</a>{{ end }}</i>:
    {{ range  $terms}}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}
{{ end }}
{{ end }}
</small>


{{ partial "toc.html" (dict "context" . "nextPrevLinks" false) }}

{{ .Content }}

{{ end }}
