{{ define "meta" }}

   {{ .Scratch.Add "trace" "layouts/classes/single.html" }}
   {{ $termInfo := (apply (slice .Data.Singular .Data.Term) "humanize" ".") }}
   {{ $pageTitle := printf "Material for %s %s" (index $termInfo 0) (index $termInfo 1)  }}
   {{ .Scratch.Set "pageTitle" $pageTitle }}
{{ end }}

{{ define "main" }}

<!-- {{ .Data.Plural | humanize }} for {{ .Data.Singular | humanize }} {{ .Data.Term | humanize }} -->
<h2> {{ .Scratch.Get "pageTitle" }}</h2>
{{ .Content }}
<ul>
    {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
</ul>


{{ end }}

{{ define "template" }}theme: layouts/taxonomy/terms.html{{ end }}
