{{ define "meta" }}

   {{ $termInfo := (apply (slice .Data.Singular .Data.Term) "humanize" ".") }}
   {{ $pageTitle := printf "Material for %s %s" (index $termInfo 0) (index $termInfo 1)  }}
   {{ .Scratch.Set "pageTitle" $pageTitle }}
   {{.Scratch.Set "theme" "layouts/taxonomy/term.html"}}
{{ end }}

{{ define "main" }}

{{ if and (eq .Kind "term" ) ( eq .Type "courses" ) }}
  {{- partial "link_to_course.html" (dict "page" . "path" .Data.Term ) -}}
{{ end }}

<!-- {{ .Data.Plural | humanize }} for {{ .Data.Singular | humanize }} {{ .Data.Term | humanize }} -->
<h2> {{ .Scratch.Get "pageTitle" }}</h2>

{{ .Content }}
<ul>
    {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
</ul>


{{ end }}
