{{- partial "filename_debug.html" (dict "pc" . "file" "sc_partials/course_material.html") -}}
{{ $page := .page }}
{{ $class := replaceRE ".*/classes/[^/]*/([^/]*)/.+" "$1" $page.RelPermalink}}
{{ with $class }}
    {{ $material_path := printf "%s%s" "/courses/" .  }}
    {{ $material_page := $page.Site.GetPage $material_path }}
    {{ with $material_page }}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Tag</th>
          <th scope="col">Tools</th>
        </tr>
      </thead>
      <tbody>
          {{ range .Pages }}
             <tr>
               <td><a href="{{ .Permalink }}">{{ .Title }}</a></th>
               <td> {{ with .Params.tags }}{{ delimit . ", " }}{{ end }}</td>
               <td> {{ with .Params.tools }}{{ delimit . ", " }}{{ end }}</td>
             </tr>
          {{ end }}
      </tbody>
    </table>

    {{ end }}
{{ end }}
