{{ define "meta" }}
  {{ partial "classes/infertype.html" . }}
  {{   .Scratch.Add "trace" "layouts/classes/list.html" }}

{{ end }}



{{ define "section-navigation" }}
  {{ partial "classes/coursenav.html" . }}
{{ end }}


{{ define "main" }}

{{ partial "toc.html" (dict "context" . "nextPrevLinks" false) }}

  {{ partial "classes/semester_header.html" . }}

  {{ .Content }}

  {{ partial "classes/all_classes.html" . }}

{{end}}

{{ define "template" }} theme: layouts/classes/list.html {{ end }}
