{{ define "template" }} theme: layouts/classes/section.html {{ end }}
{{ define "meta" }}
  {{ partial "classes/set_class_variables.html" . }}
  {{ .Scratch.Add "trace" "layouts/classes/xxx.html" }}
{{ end }}


{{ define "section-navigation" }}
  {{ partial "classes/coursenav.html" . }}
{{ end }}


{{ define "main" }}

{{ $showNextPrev := eq .Kind "page" }}
{{ partial "toc.html" (dict "context" . "nextPrevLinks" $showNextPrev) }}

  {{ partial "classes/semester_header.html" . }}

  {{ .Content }}

  {{ partial "classes/all_classes.html" . }}

{{end}}


