

{{ define "meta" }}
{{ partial "classes/infertype.html" . }}
{{   .Scratch.Add "trace" "layouts/classes/single.html" }}
{{ end }}

{{ define "section-navigation" }}
{{ partial "classes/coursenav.html" . }}
{{ end }}

{{ define "title" }}
  {{ with .Parent }}
     {{ .Parent.Title }}
  {{ else }}
     {{ .Title}}
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ with .PrevInSection}}
  <a href ="{{ .RelPermalink }}">prev</a>
  {{ end }}
  {{ with .NextInSection}}
  <a href ="{{ .RelPermalink }}">next</a>
  {{ end }}

  <h2>{{.Title | default "subtitle"}}</h2>

  {{/* partial "classes/class_header.html" . */}}
{{ .Content }}
{{ end }}


{{ define "template" }}theme: layouts/classes/single.html {{ end }}
