{{- $class_name := .Get "class_name" -}}
{{- $responsibilities := .Get "responsibilities" -}}
{{- $dependencies := .Get "dependencies" -}}

<div class="card border text-dark bg-light mb-3" style="max-width: 26rem;">
    <div class="card-header"><h5 class="card-title">{{ $class_name }}</h5></div>
    
    <div class="card-body">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text fs-6">{{ .Inner | .Page.RenderString }}</p>
                </div>
            </div>
            <div class="col-md-1 vr"></div>
        <div class="col-md-3">
            <div class="card-body">
                 <p class="card-text">{{ $dependencies}}</p>
            </div>
        </div>
    </div>
</div>
</div>

  