{{- $title := .Get "title" -}}
{{- $link := .Get "link" -}}
{{- $nyp := .Get "nyp" -}}

{{- $use_filename := .Get "use_filename" -}}

{{- $completeLink := printf "%s%s" .Page.RelPermalink $link -}}
{{- .Page.Scratch.Add "completeLink" (slice $completeLink) -}}
{{- $cleanLink := (replaceRE "/[^/]*/../" "/" $completeLink) -}}
{{- .Page.Scratch.Add "linkornot" (slice $cleanLink) -}}

{{- $page := .Page.GetPage $cleanLink -}}

{{- if not $title -}}
    {{- $title = $page.Title -}}
{{- end -}}

{{- if and (not $title) $use_filename  -}}
    {{- $title = (replaceRE ".*/" "" $link) -}}
{{- end -}}

{{- with $page -}}
  [
  {{- if .Draft }}(draft!) 
    {{- $title -}}
    {{ else }}
  {{- .Title -}}
  {{ end -}}]({{$link}})
{{- else }}
  {{- $title -}}
  {{- with $nyp -}}
      {{- if (eq $nyp true ) }}
(not yet published)
      {{ else }}
          {{ $nyp }}
      {{ end -}}
  {{ end -}}
{{- end -}}
