.box {
  //display: inline-block;
   float: left;
  width: 250px;
  height: 180px;
  margin: 5px;
  padding: 3px;
  border: 1px solid $htw-grau;
}

.below {
  max-width:518px;
  clear: left;
  margin: 0.3em;
  padding: 0.2em;
  border: 1px solid $htw-grau;
}
section.wide {
  max-width: 1200px;
}
