
/* sass variables for htw colors */
/* http://www.htw-berlin.de/fileadmin/HTW/Zentral/DE/HTW/ZR1_Presse/Corporate_Design/Farben_Hexadezimal.pdf */

$htw-green20: #e4f1cc;
$htw-green40: #c8e399;
$htw-green60: #add566;
$htw-green80: #91c733;
$htw-green100: #76b900;

$htw-black20: #5e9400;
$htw-black35: #4d7800;
$htw-black50: #3b5c00;
$htw-black65: #294100;
$htw-black80: #182500;

/* http://www.htw-berlin.de/hochschulstruktur/zentrale-referate/presse-und-oeffentlichkeitsarbeit/corporate-design/farbklima-schriften/ */
$htw-blue: #0082D1;
$htw-orange: #FF5F00;
$htw-grau: #AFAFAF;

$htw-header: $htw-black20;

/* more color constants */

$main-color: #000;
$attention-color: $htw-orange;
