@mixin debug {
  main:before{content:"main"}
  main{ background-color: #AAFFAA; }
  section:before {content: "section";}
  section{ background-color: #F0FFF0;}


  nav:before{content:"nav";}
  nav {background-color: #F0FFFF;}
  footer:before{content:"footer"}
  footer { background-color: #F0F0FF }
}
/*
  main{
    margin: 5;
    padding: 10;

    border-width: 5;
    border-color: green;
  }
  section{
    padding: 10;

    border-width: 5;
    border-color: red;}
*/
