@font-face {
  font-family: "Lato2";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

body{
  font-family: 'Lato2',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $main-color;
}
/*
headers
*/
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px;
}
h1 {
    color: $htw-header; }
    h1, h2, h3 {
      line-height: 1.1; }

    h1 {
      font-size: 28px; }

    h2 {
      color: #393939; }

    h3, h4, h5, h6 {
      color: #494949; }
      strong {
        color: #222;
        font-weight: 700; }

/*
problematic?
*/
    p, ul, ol, table, pre, dl {
      margin: 0 0 20px; }
/*

old stuff to be sorted

*/


a {
  color: $htw-blue;
  font-weight: 400;
  text-decoration: none; }

footer a {
  color: $main-color;
}

a small {
  font-size: 11px;
  color: $main-color;
  margin-top: -0.6em;
  display: block; }

.attention
{
  color:$attention-color;
  font-weight:bold;
  font-style: italic;
}


blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic; }

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 12px; }

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto; }

table {
  width: 100%;
  border-collapse: collapse; }

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5; }

dt {
  color: #444;
  font-weight: 700; }

th {
  color: #444; }

/*
stuff for images in lab exercises
*/
img {
  max-width: 100%; }
small {
    font-size: 11px; }
    .float-right {
      float:right;
    }


hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px; }

img[alt=Barbara_Kleinen]{float:right;}


.date {
  text-align: right;
  font-size: small;
}
main {
  clear: right;
}

section, footer {
  margin-right: 20px;
}
footer{
  font-size: 12px;
}
