header {
  padding: 10px;
  float: right;
  font-size: small;
  font-weight: bold;
  color: #AFAFAF;
}
header a {
  text-decoration: none;
  color: #AFAFAF;
}

/* old stuff */

nav {
  width: auto;
  float: left;
  position: fixed; }
nav p {margin: 0;}
nav .header-divider {
  display: none; }
  nav ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset white 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
    width: 270px; }

  nav li {
    width: 89px;
    float: left;
    border-right: 1px solid #d2d2d2;
    height: 40px; }

  nav ul a {
    line-height: 1;
    font-size: 11px;
    color: #999;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 40px; }

  strong {
    color: #222;
    font-weight: 700; }

  nav ul li + li {
    width: 88px;
    border-left: 1px solid #fff; }

  nav ul li + li + li {
    border-right: none;
    width: 89px; }

  nav ul a strong {
    font-size: 14px;
    display: block;
    color: #222; }
