
/* move navigation to the left starting at certain width */


@media screen and (min-width:720px) {

  nav {
    padding-top: 0px;
    float: left;
    width: 150px;
    clear: right;
  }
  nav p {
    text-align: right;
    margin:0;
    margin-right: 10px;
    display: block;
  }
  div.nav {
    width: 140px;
    border-right: 1px solid #e5e5e5;
  }
  div.outer{
      min-height: 91px;
      position: relative;
    }
  h1.title {
      position:absolute;
      bottom:0;
  }
  main, footer {
    margin-left: 150px;
    max-width: 600px;
  }


  nav .nav-divider {
    display: none;
  }
  nav hr {
    display: none;
  }
}

@media (min-width: 1280px) {
  section {
    margin-left: 0px;
    max-width: 500px;
  }
  section.left {float: left}
  section.right {float: right}
  main {
    margin-left: 150px;
    max-width: 1600px;
  }
  nav { clear: right;}
  footer {
    clear: both;
  }
}
