@mixin layout-narrow {

  body {
    padding: 15px; }

  nav ul {
    display: none; }
  }

@mixin layout-middle {

  body {
    word-wrap: break-word; }

  nav {
    padding: 0; }

  nav ul, nav p.view {
    position: static; }

  pre, code {
    word-wrap: normal; }
  }

  @mixin layout-wide {

    nav .header-divider {
      display: inline; }
    nav a small {
      display: inline; }

    nav p {
      display: inline; }

    nav ul {
      position: absolute;
      right: 50px;
      top: 52px; }
    }

@mixin layout-wide-2column{
  section {
    margin-left: 0px;
    max-width: 550px;
  }
  section.left {float: left}
  section.right {float: right}
  main {
    margin-left: 150px;
    max-width: 1600px;
    clear: right;
  }
  nav { clear: right;}
  footer {
    clear: both;
  }
}
