<!-- needs to be maintained to include in index.html - take out of the rendered classes/index.html page -->
<ul>
  <li><a href="{{ site.baseurl }}/classes/ss2020/info2">B1 Informatik 2</a></li>
  <li>B WTAT1 Agile Web Development</li>
  <li>M M1 Media Programming - Lab Web Technology</li>
  <li>M WT4 User Centered Web Technology</li>
  <li>Praxisprojekt</li>
  {% comment %}
  <li><a href="{{ site.baseurl }}/classes/ss2020/wt-usability">B WTAT1 Agile Web Development</a></li>
  <li><a href="{{ site.baseurl }}/classes/ss2020/m1-web">M M1 Media Programming - Lab Web Technology</a></li>
  <li><a href="{{ site.baseurl }}/classes/ss2020/m-wt1-webapplications">M WT4 User Centered Web Technology</a></li>
  <li><a href="{{ site.baseurl }}/classes/ss2020/m6-project/">M6/11 Praxisprojekt</a></li>
  {% endcomment %}
</ul>
