<!-- needs to be maintained to include in index.html - take out of the rendered classes/index.html page -->
<ul>
  <li><a href="{{ site.baseurl }}/classes/ws2019/info1">B1 Informatik 1</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2019/wt2-usability">B WT2 Usability</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2019/m1-web">M M1 Media Programming - Lab Web Technology</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2019/m-wt1-webapplications">M WT1 Web Applications</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2019/m6-project/">M6/11 Praxisprojekt</a></li>
</ul>
