
<ul class="posts">
{{ range where .Pages "old" "not in" "categories" }}
    <li><small>{{ .Date  }} &raquo; </small><a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <br/>
      <small>{{ .Summary }} <a href="{{ .RelPermalink }}">(go to article)</a></small>
    </li>
{{end}}
</ul>

<ul class="posts">
  {{ range where .Pages "old" "in" "categories" }}
    <li><small>{{ .Date }} &raquo; </small><a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <br/>
      <small>{{ .Summary }} <a href="{{ .RelPermalink }}">(go to article)</a></small>
    </li>
{{ end }}
</ul>
