$custom-font-size: 20px;

/* sass variables for htw colors */
/* https://www.htw-berlin.de/fileadmin/HTW/Zentral/DE/HTW/ZR1_Presse/Corporate_Design/Farben_Hexadezimal.pdf */

$htw-green20: #e4f1cc;
$htw-green40: #c8e399;
$htw-green60: #add566;
$htw-green80: #91c733;
$htw-green100: #76b900;

$htw-black20: #5e9400;
$htw-black35: #4d7800;
$htw-black50: #3b5c00;
$htw-black65: #294100;
$htw-black80: #182500;

/* https://www.htw-berlin.de/hochschulstruktur/zentrale-referate/presse-und-oeffentlichkeitsarbeit/corporate-design/farbklima-schriften/ */
$htw-blue: #0082D1;
$htw-orange: #FF5F00;
$htw-grau: #AFAFAF;

$htw-header:  $htw-black20;
$htw-link:  $htw-black20;
$htw-ruler: $htw-green60;

/* more color constants */

$main-color: #000;
$attention-color: $htw-orange;


// Colors for Navigation
$htw-active: $htw-green20;
$htw-active-bg: $htw-black80;

// Horizontal Tab Menu in Classes
$nav-tabs-link-active-color:        $htw-active-bg; // $gray-700 !default;
$nav-tabs-link-active-bg:           $htw-active;
$nav-tabs-link-active-border-color: #ddd !default;

// Dropdowns in left menu

$dropdown-link-active-color:       $htw-active-bg;
$dropdown-link-active-bg:          $htw-active;

.htw-green20 {color: $htw-green20;}
.htw-green40 {color: $htw-green40;}
.htw-green60 {color: $htw-green60;}
.htw-green80 {
  color: $htw-green80;
 font-weight: 700;}
.htw-green100 {color: $htw-green100;}
