
 h1.title {margin-bottom: 0;}

 header {
   padding: 10px;
   font-size: small;
   color: #AFAFAF;
 }
 a {
   text-decoration: none;
 }
 header a {
   text-decoration: none;
   color: #AFAFAF;
 }

footer {

   color: #AFAFAF;
}
.attention {
  color: $attention-color;

}
@if $color-areas == true {
  .c1 { background-color: lightgray; }
  .c2 { background-color: LightSteelBlue ; }
  .c3 { background-color: linen; }
  .c4 { background-color: honeydew; }
  .c5 { background-color: LavenderBlush; }
  .c6 { background-color: LemonChiffon; }
  .c7 { background-color: MintCream; }
} else {
  .c1 .c2 .c3 .c4 .c5 .c6 .c7 { background-color: white; }
}

.breadcrumb-thin {
    padding: 2px 15px !important;
}

.citation {
  font-size: small;
  padding-left: 20px;
  padding-right: 40px;
}
.coursenav {
  padding-bottom: 20px;
}

// Navigation Bars


// Left Menu

.nav {
  .nav-link.active {
    background-color: $htw-active;
    color: $htw-active-bg;
  }
}


.content {
  font-size: $custom-font-size;
}

.followed {
  margin-bottom: 0.0rem
}
.following {
  margin-bottom: 0.5rem
}

.sortable {
    cursor: pointer;
}

.box {
  border-width: 2px;
  border-color: cadetblue;
}
//$navbar-dark-active-color: $htw-active;

//color: $nav-tabs-link-active-color;
//background-color: $nav-tabs-link-active-bg;
//border-color: $nav-tabs-link-active-border-color $nav-tabs-link-active-border-color $nav-tabs-link-active-bg;
