{{- partial "filename_debug.html" (dict "pc" . "file" "classes/coursenav.html") -}}
{{/* this partial generates the top row navigation for a course/class.
  it has two,5 parts:
  - as specified in courseNavInt on the main course page
  - links to subdirectories in course folder, only if CourseNav site param is set! 
  - external links as specified in courseNavExt on the main course page (e.g. lsf, github)

  */}}
{{ $currentPage := . }}
{{ $course_page := . }}

{{/* only include coursenav if on course site */}}
{{ if (or (eq "class" (.Scratch.Get "type")) (eq "class_subpage" (.Scratch.Get "type"))) }}

  {{/* find course page and title */}}
    {{ $class_path := replaceRE ".*(/classes/[^/]*/[^/]*)/.+" "$1" .RelPermalink}}
    {{ .Scratch.Set "class_page_path"  $class_path}}
    {{ $course_page = .Site.GetPage $class_path }}
    {{ .Scratch.Set "class_title" $course_page.Title }}


<ul class="nav nav-tabs">

{{ range $course_page.Params.courseNavInt }}
  <li class="nav-item">
    {{ $active := cond (eq $course_page.RelPermalink .link) (eq $currentPage.RelPermalink .link) (in $currentPage.RelPermalink .link) }}
    <a class="nav-link {{ if $active}}active{{ end }}" href="{{ .link | relLangURL }}">{{ .title }}</a>
  </li>
{{ else }}
{{/* build menu from subpages, explicit course home needed */}}
<li class="nav-item">
  {{ $menu_title := $course_page.Params.CourseNav | default ($course_page.Title) }}
  <a class="nav-link {{ if eq $currentPage.RelPermalink $course_page.RelPermalink }}active{{ end }}" href="{{ $course_page.Permalink }}">{{ $menu_title }}</a>
</li>

{{ range where $course_page.Pages "Params.CourseNav" "!=" nil}}
  {{ $menu_title := .Params.CourseNav | default (.Title) }}
  <li class="nav-item">
    <a class="nav-link {{ if in $currentPage.RelPermalink .RelPermalink }}active{{ end }}" href="{{ .Permalink }}">{{ $menu_title }}</a>
  </li>
{{ end }}

{{ end }}


{{/* course nav external links could also be provided via json file:
  $fn := path.Join "content" $course_page.File.Dir  "coursenav.json"
 if (fileExists $fn)
  {{ $dataJ := getJSON $fn */}}

{{ with $course_page.Params.courseNavExt }}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">External Links</a>
    <div class="dropdown-menu">
      {{ range . }}
          <a class="dropdown-item" target = "ex_link" href="{{ .link }}">{{ .title }}</a>
      {{ end }}
    </div>
</li>
{{ end }}
</ul>
{{ end }}
