{{- partial "filename_debug.html" (dict "pc" . "file" "classes/set_class_variables.html") -}}
{{- /* infers the type of a page by the url and sets it in scratch
  /classes/<semester>/<classname> */ -}}

{{
  $types := (dict
  "all_classes" "/classes/$"  
  "class_subpage" "/classes/[^/]*/[^/]*/.+"
  "semester" "/classes/[^/]*/$"
  "class" "/classes/[^/]*/[^/]*/$")
}}
{{  $current_page := . }}
 {{ range $type, $type_re := $types }}
    {{ $result := findRE $type_re $current_page.RelPermalink }}
    {{ if gt (len $result) 0   }}
      {{  with $current_page.Scratch.Get "classes_type" }}
       WARNING: page already had type {{ . }}  INFO: assigning classes_type {{ $type }}
       {{ end }}
      {{   $current_page.Scratch.Set "type" $type }}
      {{   $current_page.Scratch.Set "classes_type" $type }}
    {{ end }}
{{ end }}

{{/* find course page and title */}}
{{ $class_path := replaceRE ".*(/classes/[^/]*/[^/]*)/.+" "$1" .RelPermalink}}
{{ .Scratch.Set "class_page_path"  $class_path}}
{{ $course_page := .Site.GetPage $class_path }}
{{ $course_title := $course_page.Title }}
{{ .Scratch.Set "course_title" $course_title }}
{{ with .Params.short_title }}
  {{ $current_page.Scratch.Set "classes_short_title" . }}
{{ else }}
  {{ $current_page.Scratch.Set "classes_short_title" $course_title }}
{{ end }}

{{ if (eq "class" (.Scratch.Get "type")) }}
{{ .Scratch.Set "classes_page_title" "" }}
{{ else }}
{{ .Scratch.Set "classes_page_title" .Title }}
{{ end }}
