{{ define "meta" }}
  {{.Scratch.Set "theme" "layouts/classes/section.html"}}
  {{ partial "classes/set_class_variables.html" . }}
{{ end }}

{{ define "title" }}{{.Scratch.Get "classes_page_title" }} - {{.Scratch.Get "classes_short_title" }} {{ end }}


{{ define "section-navigation" }}
  {{ partial "classes/coursenav.html" . }}
{{ end }}


{{ define "main" }}

<h1>{{.Scratch.Get "classes_page_title"}}</h1>

{{ $showNextPrev := eq .Kind "page" }}
{{ partial "toc.html" (dict "context" . "nextPrevLinks" $showNextPrev) }}

  {{ partial "classes/semester_header.html" . }}

  {{ .Content }}


  {{ if .Params.subpages }}
     {{ partial "sc_partials/subpages.html" (dict "page" . "depth" 4) }}
  {{ end }}

  {{ partial "classes/all_classes.html" . }}

{{end}}


