<div class = "container-flex">
{{- partial "filename_debug.html" (dict "pc" . "file" "header.html") }}
<div class = "row">
  <div class ="col-9">
    <h1 class = "c5 title">{{ .Scratch.Get "course_title" | default site.Title }} </h1>
    <small>{{ site.Params.SubTitle }} Media Informatics
      (<a href="https://imi-bachelor.htw-berlin.de">Bachelor</a>/<a href="https://imi-master.htw-berlin.de">Master</a>)
       at <a href="https://www.htw-berlin.de">HTW Berlin</a>
    </small>
  </div>
  <div class ="col-3">
     <a href="https://www.htw-berlin.de"><img src="{{ site.BaseURL }}/images/htw_logo_green.gif" alt="HTW Berlin" title="HTW Berlin"></a><br/><a href="{{ site.BaseURL }}/">{{ site.Params.LogoTitle }}</a>
  </div>
</div>
</div>
