<div class = "d-flex flex-row c6">

<div class = "c7 mt-auto">
    <h1 class = "c5 title">  {{- block "title" . }}{{ .Title}}{{- end }}</h1>
    <small>Website of <a href="{{ site.BaseURL }}/">Prof. Dr. Barne Kleinen</a>, Professor for Media Informatics
      (<a href="https://imi-bachelor.htw-berlin.de">Bachelor</a>/<a href="https://imi-master.htw-berlin.de">Master</a>) at <a href="https://www.htw-berlin.de">HTW Berlin</a> </small>
</div>

<div class = "c7 ml-auto ">
<a href="https://www.htw-berlin.de"><img src="{{ site.BaseURL }}/images/htw_logo_green.gif" alt="HTW Berlin" title="HTW Berlin"></a><br/><a href="{{ site.BaseURL }}/">Prof. Dr. Barne Kleinen<br/>HTW Berlin</a>
</div>

</div>
