
  <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
  <!-- Bootstrap Required meta tags -->
  <meta charset="{{ site.Params.Serverencoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-color" content="#1A94D2" />


  {{ if .Site.IsServer }}
      {{ $options := (dict "targetPath" "css/styles-dev.css" "outputStyle" "expanded") }}
      {{ $style := resources.Get "scss/main.scss" | toCSS  $options  }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

  {{ else }}
      {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
      {{ $style := resources.Get "scss/main.scss" | toCSS  $options | minify }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
   {{ end }}



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121207290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-121207290-1');
  </script>
  <!-- Google Optimize -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-5NV39VZ':true});</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-121207290-2', 'auto');
    ga('require', 'GTM-5NV39VZ');
    ga('send', 'pageview');
  </script>
