{{- partial "filename_debug.html" (dict "pc" . "file" "side_navigation.html") -}}
<nav class = " col-md-2 c2 ">
  <div class = "nav">
<ul class="nav flex-md-column">
{{ $currentPage := . }}

{{ range .Site.Menus.main }}
<li class="nav-item">
    {{ if .HasChildren }}

    <a class="nav-link dropdown-toggle {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active {{ end}}"
    data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ .Name }}</a>


    <div class="dropdown-menu" >
      {{ range .Children }}
          <a class="dropdown-item  {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
          href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>

    {{ else }}
        {{ if (or (not (eq .Identifier "debug" )) $.Site.IsServer) }}
        <a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }}active{{ end }}" href="{{ .URL }}">
          {{ .Name}}
        </a>
        {{ end }}
    {{ end }}

</li>
{{ end }}
<ul>

</div>
</nav>
