{{.Scratch.Set "theme" "layouts/_default/_baseof.html"}}
{{- block "meta" . }}{{- end }}
<!DOCTYPE html>
<html>

  <head>
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    {{- partial "head.html" . -}}
  </head>

    <body>


{{ if .Site.Params.PrintEnvironment }}
    <div>
   This is the {{ .Site.Params.Environment }} environment
  running on <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
  <br/> {{ .Site.Params.EnvDescription }}<br/>
   - please visit the production website at <a href="{{ .Site.Params.ProductionSite }}">{{ .Site.Params.ProductionSite }}</a> instead!
   </div>
{{ end }}

  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}

        <div class = "container-fluid">

        <header class = "row m-b-5" >
          <div class = "col-md-2 c2">
            &nbsp;
          </div>
          <div class = "col-md-10 c1 p-2">
            {{- partial "header.html" . -}}
          </div>
        </header>


        <main class = "row p-0">


            {{- partial "side_navigation.html" . -}}


        <div class = "col-md-10 c3">
          <div class = "outer">
            {{- partial "breadcrumbs.html" . -}}
          </div>

          <div class = "coursenav">{{- block "section-navigation" . }}{{- end}}</div>
      <div class = "container-fluid">
        {{ if .Page.Draft }}
          <div class="alert alert-danger" role="alert">
            DRAFT
          </div>
        {{ end }}
          {{- block "main" . }}{{ .Content }}{{- end }}


      {{ if or true .Page.Store.Get "hasMermaid" }}
          <script src="https://cdn.jsdelivr.net/npm/mermaid@10.6.1/dist/mermaid.min.js"></script>
          <script>
            mermaid.initialize({ startOnLoad: true ,securityLevel: 'loose'});
          </script>
      {{ end }}


      </div>
          </div>
        </div>
        </main>

        <footer class = "row p-0">
          <div class = "col-md-2 c2">
            &nbsp;
          </div>
          <div class = "col-md-10 c4">
            <small>

              <hr/>
              <div class = "container-fluid">
                  <div class="row">
                    <div class="col-9">
                           <a href="{{ site.BaseURL }}/contact">Prof. Dr. Barne Kleinen</a>,
                           <a href="https://www.htw-berlin.de">HTW Berlin</a>,
                           <a href="https://www.f4.htw-berlin.de/">FB4</a>, <a href="https://imi-bachelor.htw-berlin.de/">International Media and Computing</a>.
                           &nbsp;&nbsp;&dash;&nbsp;&nbsp;
                    </div>
                    <div class="col-3">
                      <a href="{{ site.BaseURL }}/contact/impressum">Impressum</a>,
                            <a href="{{ site.BaseURL }}/contact/datenschutzerklaerung">Datenschutzerklärung</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-9">
                      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
                      <br/><small>
                             This page was authored by: {{ $.Param "author" | default "B. Kleinen"}}
                             {{- block "page_footer" . }}{{- end }}
                      </small>

                    </div>
                    <div class="col-3">
                      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-12">

                </div>
              </div>
              </div>

           </small>
        {{ if (or (hugo.IsServer) (in (slice "staging" "development" "debug") hugo.Environment )) }}
            <div><hr><small>  <h7>Debug Information</h7><ul>
                 {{ partial "debug.html" . }}
          </ul></small><hr></div>
        {{ end }}
          </div>

        </footer>

       <!-- JavaScript and dependencies -->
       <script>
           // Transfer TopMatter Params to JavaScript variables
           let sortTables = false;
           let stripedTables = true;
           {{ with .Params.SortTables }}{{ if . }} sortTables = true;{{ end }}{{ end }}
           {{ with .Params.NoStripedTables }}{{ if . }} stripedTables = false;{{ end }}{{ end }}
       </script>

       {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
       {{ $tableSorter := resources.Get "js/sorttables.js" }}
       {{ $js_resources := slice $tableSorter $bootstrap }}

         {{ if hugo.IsServer }}
           {{ range $js_resources }}
           <script type="text/javascript" src="{{ .Permalink }}"></script>
           {{ end }}
         {{ else }}
           {{ $js :=  $js_resources  | resources.Concat "js/bundle.js" | resources.Minify | fingerprint }}
            <script src="{{$js.Permalink}}" defer></script>
         {{ end }}
     
    </body>

</html>
