<!-- needs to be maintained to include in index.html - take out of the rendered classes/index.html page -->
<ul>
  <li><a href="{{ site.baseurl }}/classes/ws2020/info3">B15 Informatik 3</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2020/m-wt1-webapplications">M WT1 Web Applications</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2020/bachelorseminar">B30 Bachelorseminar</a></li>
  <li><a href="{{ site.baseurl }}/classes/ws2020/m1-web">M M1 Media Programming</a></li>
  <li><a href="{{ site.baseurl }}/classes/ss2020/showtime">B Praxisprojekt</a></li>

    {% comment %}
  <li><a href="{{ site.baseurl }}/classes/ss2020/m-wt4-ucd">M WT4 User Centered Web Technology</a></li>
  <li><a href="{{ site.baseurl }}/classes/ss2020/wt-usability">B WTAT1 Agile Web Development</a></li>

  <li><a href="{{ site.baseurl }}/classes/ss2020/m-wt4-ucd">M WT4 User Centered Web Technology</a></li>
  <li><a href="{{ site.baseurl }}/classes/ss2020/m6-project/">M6/11 Praxisprojekt</a></li>
  {% endcomment %}
</ul>
