<!DOCTYPE html>
<html>
    {% include head.md %}
    <body>
        <header>
          {% include headline.md %}
        </header>
        <nav>
          <div class = "nav">
            {% include navigation.md %}
          </div>
        </nav>
        <main>
          <div class = "outer">
            {% unless page.nobreadcrumbs %}
            {% include breadcrumbs.md %}
            {% endunless %}
            <h1 class = "title">{{ page.title}}</h1>
          </div>
          <div class = "coursenav">{% include coursenav.md %}</div>
            {{ content }}
        </main>

        <footer>
        {% include footer.md %}
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    </body>

</html>
