<!DOCTYPE html>
<html>
    {% include head.md %}
    <body>
        <div class = "container-fluid">

        <header class = "row p-0" >
          <div class = "col-md-2 c2">
            &nbsp;
          </div>
          <div class = "col-md-10 c1 p-2">
            {% include headline.html %}
          </div>
        </header>


        <main class = "row p-0">
        <nav class = "col-md-2 c2">
          <div class = "nav">
            {% include navigation.md %}
          </div>
        </nav>
        <div class = "col-md-10 c3">
          <div class = "outer">
            {% include breadcrumbs.md %}
          </div>
          <div class = "coursenav">{% include coursenav.md %}</div>



            {{ content }}
          </div>
        </div>
        </main>

        <footer class = "row p-0">
          <div class = "col-md-2 c2">
            &nbsp;
          </div>
          <div class = "col-md-10 c4">
        {% include footer.md %}
          </div>
        </footer>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="{{ site.baseurl }}/bootstrap/jquery.slim.min.js" ></script>
        <script src="{{ site.baseurl }}/bootstrap/popper.min.js" ></script>
        <script src="{{ site.baseurl }}/bootstrap/bootstrap.min.js"></script>

    </body>

</html>
