<!DOCTYPE html>
<html>
    {% include head.md %}
    <body>
        <div class = "container-fluid">

        <header class = "row">
          <div class = "col-md-12 c1">
          {% include headline.md %}
          </div>
        </header>

        <main class = "row ">

        <nav class = "col-md-2 c2">
          <div class = "nav">
            {% include navigation.md %}
          </div>
        </nav>
        <div class = "col-md-10 c3">
          <div class = "outer">
            {% unless page.nobreadcrumbs %}
            {% include breadcrumbs.md %}
            {% endunless %}
            <h1 class = "title">{{ page.title}}</h1>
          </div>
          <div class = "coursenav">{% include coursenav.md %}</div>
            {{ content }}
          </div>
        </div>
        </main>

        <footer class = "row">
          <div class = "col-md-12 c4">
        {% include footer.md %}
          </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--
        <script src="{{ site.baseurl }}/bootstrap/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{{ site.baseurl }}/bootstrap/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="{{ site.baseurl }}/bootstrap//bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
-->
        <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
      	<script src="{{'/node_modules/popper.js/dist/popper.min.js' | prepend: site.baseurl}}"></script>
      	<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>

    </body>

</html>
