

{{ $page := .page }}
{{ $depthS := .depth }}
{{ $sort := .sort }}


{{- $depth := 1 -}}
{{ with $depthS }}
  {{ $depth := int $depthS }}
{{ end }}


{{ template "childs" (dict "p1" $page "depth" $depth "sort" $sort)  }}

{{ define "childs" }}
  {{ $depth := .depth}}
  {{ $sort := .sort}}
  {{ if (gt $depth 0)}}
  {{ with .p1 }}
  <ul>

  {{ $pages := .Pages}}
  {{ if eq $sort "weight"}}
      {{ $pages = $pages.ByWeight }}
  {{ else if eq $sort "title"}}
      {{ $pages = $pages.ByTitle }}
  {{ else if eq $sort "linkTitle"}}
      {{ $pages = $pages.ByLinkTitle }}
  {{ end }}

  
  {{ range $pages }}
  <li>{{ if .Draft }}(- draft! -){{ end }}
    <a href ="{{ .Permalink }}">{{.Title}}</a>
    {{- with .Params.source}}, source code: <a href="{{.}}">{{.}}</a>{{ end -}}
  </li>
  {{ template "childs" (dict "p1" . "depth" (sub $depth 1) "sort" $sort )}}
  {{ end }}
  </ul>
  {{ end }}
  {{ end }}
{{ end }}
