name: Deploy Staging

on:
  push:
    branches:
      - hugo_migration  # Set a branch to deploy
    tags-ignore:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build Hugo Site
        run: hugo --minify -e staging

      - name: Deploy to Staging on Github Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/hugo_migration'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
